<h2 mat-dialog-title>
    <mat-icon>lock</mat-icon>Cambiar Contraseña
</h2>
<mat-divider class="border-2"></mat-divider>
<mat-dialog-content>
    <form id="frmChangePassword" [formGroup]="frmChangePassword" (ngSubmit)="onChangePassword()">
        <mat-form-field class="w-full">
            <mat-label>Contraseña Actual</mat-label>
            <input matInput formControlName="passwActual" type="password" required>
            @if(frmChangePassword.get('passwActual')?.invalid && frmChangePassword.get('passwActual')?.touched){
                <mat-error>La contraseña actual es requerida</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput formControlName="passwNueva" type="password" required>
            @if(frmChangePassword.get('passwNueva')?.invalid && frmChangePassword.get('passwNueva')?.touched){
            }
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Confirmar Nueva Contraseña</mat-label>
            <input matInput formControlName="passwConfirmar" type="password" required>
            @if(frmChangePassword.get('passwConfirmar')?.invalid && frmChangePassword.get('passwConfirmar')?.touched){
                <mat-error>Confirme la nueva contraseña</mat-error>
            }
        </mat-form-field>

        @if(errorMessage()){
        <small class="text-red-600">{{ errorMessage() }}</small>
        }
    </form>
</mat-dialog-content>

<mat-divider class="border-2"></mat-divider>

<mat-dialog-actions>
    <button mat-button (click)="onCancel()" [disabled]="isLoading()">
        Cancelar
    </button>
    <button mat-button color="primary" type="submit" form="frmChangePassword" [disabled]="isLoading()">
        @if(isLoading()) {
            Cambiando...
        } @else {
            Cambiar Contraseña
        }
    </button>
</mat-dialog-actions>
